.btnText {
  height: 22px;
  position: relative;
  font-size: var(--h6-size);
  letter-spacing: 0.2px;
  line-height: 22px;
  display: inline-block;
  font-family: var(--h6);
  color: var(--light-background-color);
  text-align: center;
}
.buttonMd {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl);
  background-color: var(--success-color);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
