.h6SectionTag {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.h6SectionTagWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-158xl) 0 var(--padding-156xl);
}
.h3SectionTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2px;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.h3SectionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-60xl) 0 var(--padding-61xl);
  font-size: var(--h2-size);
  color: var(--text-color);
}
.problemsTryingTo {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
}
.frameGroup {
  width: 469px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frameWrapper,
.row {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
}
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.row {
  justify-content: flex-start;
  padding: 0 var(--padding-329xl);
  gap: var(--gap-2xs-3);
  color: var(--light-background-color);
}
.ecommerceDesktop1Inner,
.frameParent,
.row {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1045px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.ecommerceDesktop1Inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-93xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h6-size);
  color: var(--primary-text-color);
  font-family: var(--h6);
}
@media screen and (max-width: 1410px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .row {
    padding-left: var(--padding-155xl);
    padding-right: var(--padding-155xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-21xl);
  }
  .ecommerceDesktop1Inner {
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .h6SectionTagWrapper {
    padding-left: var(--padding-68xl);
    padding-right: var(--padding-69xl);
    box-sizing: border-box;
  }
  .h3SectionTitle {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .h3SectionTitleWrapper,
  .row {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .row {
    padding-left: var(--padding-68xl);
    padding-right: var(--padding-68xl);
    justify-content: center;
    grid-template-columns: minmax(261px, 1fr);
  }
  .frameParent {
    gap: var(--gap-xl);
  }
  .ecommerceDesktop1Inner {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h3SectionTitle {
    font-size: var(--h3-size);
    line-height: 30px;
  }
  .row {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
